html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto','Open Sans', sans-serif;
    
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: normal;
    max-width: 1200px;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* End of reset css start of header*/


  @media screen and (min-width: 660px){
    nav ul {
        margin: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  }

  @media screen and (max-width: 659px){
    nav ul {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      }
  }

  nav ul ul{
    margin: 0rem 4rem;
  }

  nav ul ul li{
    padding: 0rem 1rem;
  }

  nav ul ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #6B708D;
  }

  .current {
    color: #072AC8;
  }

 button,
  nav ul button {
    color: white;
    padding: 0.6rem 1.5rem;
    background-color: #072AC8;
    border: none;
  }

/* End of header start of main*/

.main-container {
    margin: 5rem 4rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content:space-between;
   align-items: center;
    position: relative;
   
}


h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #292E47;
    padding: 2rem 1rem 1rem 0;
}


main p {
    padding-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6B708D;
}

.main-container button {
    color: white;
    padding: 0.6rem 1.5rem;
    background-color: #072AC8;
    border: none;  
}

.main-container a{
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 400;
    color: #6B708D;
    padding: 2rem;
}

@media screen and (min-width: 1081px){
    .hero-section img:nth-child(2){
        width: 400px;
        position: absolute;
        right: 10px;
        top:0%;
    
    }
    
    .hero-section img:nth-child(1){
        width: 300px;
        position: relative;
        top: -50px;
        right: -50px;
        z-index: 96;
    }
    
    .hero-section img:nth-child(3){
        width: 250px;
        position: relative;
        top: 240px;
        right: -40px;
        z-index: 96;
    }
}

@media screen and (max-width: 1080px){
    .main-container{
        display: block;
        text-align: center;
        position: relative;
        
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-section img:nth-child(2){
        width: 25rem;
        position: absolute;
        top: auto
        
    
    }
    
    .hero-section img:nth-child(1){
        width: 20rem;
        position: relative;
        z-index: 96;
        right: 140px;
        
        
    }
    
    .hero-section img:nth-child(3){
        width: 18rem;
        position: relative;
        z-index: 97;
        top: 60px;
        left: 130px;
        
    }
    
}

@media screen and (max-width: 459px){
    
    .main-container button {
        display: block;
        text-align: center;
        margin: auto;
    }
    .hero-section img {
        display:none;
    }
}

/* Logos section start*/
.logos a {
    z-index: 97;
}
.logos img {
    width: 7rem;
    padding: 1rem 1rem;
    filter: grayscale(100%); 
    z-index: 97;
}
.logos img:hover{
    filter: none;
    
}

/* Projects */
.main-container.projects-section{
   justify-content:space-evenly;
    
}

.project {
    width: 15rem;
    height: 20rem;
    box-shadow: -8px 12px 24px -11px rgba(0,0,0,0.7);
-webkit-box-shadow: -8px 12px 24px -11px rgba(0,0,0,0.7);
-moz-box-shadow: -8px 12px 24px -11px rgba(0,0,0,0.7);
}
h2{
    margin-left: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #292E47;
    padding: 2rem 1rem 1rem 0;
}
 h3{
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #292E47;
    padding: 1rem 1rem 1rem 0;
 }

 .project p{
    padding-bottom: 2rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6B708D;
 }

.project img{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.project a{
    margin-left: 1rem;
    padding-left: 0;
    color: #072AC8;
}

@media screen and (max-width: 1082px ) {
    .projects-section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .project {
        width: 70%;
        height: 20rem;
        margin-bottom: 2rem;
        
    }
    .project img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }
}

/*  Testimonial section */
section.main-container{
    padding: 0;
    margin: 0;
    align-items:self-start;
}
.testimonial-section{
    width: 90%;
    height: 18%;
    margin: 0 auto;
    background-color: #292E47;
    background-image: url("../testimonial-section/orbit.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial-section img{
    width: 11rem;
    padding: 2rem 1rem;
}
.testimonial-section  section h3{
    text-align: center;
    margin: auto;
    padding: 2rem 0 0 0;
    font-size: 1.7rem;
    color: white;
    font-weight: 600;
    
}

.testimonial-section section p{
    text-align: center;
    font-size: 1.1rem;
    color: #FFC600;
    margin: 0;
    padding: 0;
}
#profile-pict{
    height: 50px;
   width: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0;
    margin: 0 0.5rem;

}
#profile-text p{
    text-align: left;
    color: #A2D6F9;
    padding: 0;
    margin: 0;
}

#profile-text a{
    text-align: left;
    color: white;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1082px ){
    .testimonial-section img{
        display: none;
    }
    .testimonial-section section p{
        padding-top: 1rem;
    }
    #profile-pict {
        display: inline;
    }
    #profile-text p{
        text-align: center;
    }
}

/* service section */
.circular-background img{
    margin: 2rem;
    width: 2rem;
    height: auto;
}
.circular-background{
    margin: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%; 
    background-color: #ECF7FF; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mail subscription*/ 
.form-section {
    margin: 0 auto;
    width: 90%;
    height: 20rem;
    background-color: #FFC600;
    text-align: center;
}

.form-section h2{
    padding-top: 5rem;
    margin: auto;
}

.form-section button {
    height: 3.2rem;
}

.form-section input {
    height: 3.2rem;
    border: none;
    width: 15rem;
    font-size: 0.7rem;
    color: black;
    padding-left: 2.3rem;
}

.form-icon {
    position:relative;
    left: 30px;
    bottom: -7px;
    height: 1.3rem;
}
/* End of main start of footer*/


  @media screen and (min-width: 660px){
    .footer-container {
        display: flex;
        margin: 2rem 4rem;
        justify-content: space-between;
        align-items: center;
      }
      ul.footer-container{
        justify-content: flex-start;
      }

    .footer-container ul li:nth-child(1),
    .footer-container ul li:nth-child(2){
        padding: 1rem  2rem  1rem 0rem;
        
    }
  }

  @media screen and (max-width: 659px){
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 20px 30px;
        align-items: center;
        text-align: center;
        align-items: center;
      }
      ul.footer-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      

  }
 

footer address {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6B708D;
    padding-top: 1.5rem;
    font-style: normal;
}

 .footer-container li a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: #6B708D;
 }

 